a {
    display: inline-block;
    background: #69c;
    color: #fff;
    padding: 5px 10px;
  }

a:hover {
    background-color: chocolate;
}

li {
    list-style-type: square;
}

li#slant_line {
    color: red
}

table {
    border-spacing: 10px;
    border: 1px solid #333;
}

td {
    border: 1px solid #333;
}